.song {
    text-align: center;
    max-width: 375px;
    height: fit-content;

    .artworkImage {
        width: 100%;
    }

    .audioPlayer {
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
        height: 25px;
        margin-top: 24px;
    }
}